@import url("https://fonts.googleapis.com/css2?family=Comme:wght@100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(41, 42, 43, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 68px;
  background: rgba(231, 39, 124, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(234, 61, 137, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 524px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 37px;

  gap: 20px;
  background: rgba(234, 61, 137, 1);
  opacity: 0.96;
  border-bottom-right-radius: 80px;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Comme;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in-out;
}
.navigation__link:hover,
.navigation__link:focus {
  font-weight: 700;
  font-size: 22px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 70;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Comme;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0%;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-weight: 700;
    font-size: 20px;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 1192px;

  padding: 120px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Frame\ 1597880737.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 335px;
  height: 102.33119201660156px;
}

.home-text {
  font-family: Comme;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 12px 0 19px;
}
.home-text-two {
  font-family: Comme;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(99, 2, 89, 1);
  padding-bottom: 43px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.why-list {
  margin-top: 229px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 207, 236, 0.9);
  box-shadow: 0px 31px 69.6px 0px rgba(25, 42, 100, 0.12);

  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-radius: 20px;
}

.why-text-bold {
  font-family: Comme;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(173, 0, 142, 1);
}
.why-text {
  padding-top: 11px;
  color: rgba(173, 0, 142, 1);
  font-family: Comme;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 829px;

    padding: 118px 88px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/home/Home.png");
    margin: auto;
  }

  .home__container-top {
    width: 810px;
  }
  .home-title {
    width: 810px;
    height: 212px;
  }

  .home-text {
    font-family: Comme;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 0 20px;
    width: 587px;
  }
  .home-text-two {
    font-family: Comme;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 727px;
    padding-bottom: 40px;
  }

  .why-list {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;

    padding-top: 28px;
    padding-right: 60px;
    padding-bottom: 28px;
    padding-left: 60px;
    border-radius: 20px;
  }
  .why-item {
    width: 256px;
  }
  .why-text-bold {
    font-family: Comme;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0%;
    text-align: center;
  }
  .why-text {
    padding-top: 11px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.about {
  padding: 60px 20px 0px;
  margin: auto;
  width: 375px;
  height: 994px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/About\ This\ Game.png");
}

.about-title {
  font-family: Comme;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.about-text {
  font-family: Comme;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 40px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 88px;
    margin: auto;
    width: 1440px;
    height: 732px;

    background-image: url("/image/about/About\ This\ Game\ \(2\).png");
  }

  .about-title {
    font-family: Comme;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
  }

  .about-text {
    font-family: Comme;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 60px 0 0 652px;
  }
}
.how {
  width: 375px;
  height: 1404px;
  margin: auto;
  padding: 60px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/How\ to\ Play.png");
}

.how-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.how-item {
  width: 335px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.5);
  color: rgba(99, 2, 89, 1);
}

.how-text-bold {
  font-family: Comme;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.how-text {
  padding: 16px 0 0;
  font-family: Comme;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.uniqueness-text-bold {
  font-family: Comme;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(99, 2, 89, 1);
  padding: 32px 0 28px;
}
.uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: disc;
  padding-left: 20px;
  font-family: Comme;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(99, 2, 89, 1);
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 786px;
    margin: auto;
    padding: 88px 84px 0;
    background-image: url("/image/how/How\ to\ Play\ \(1\).png");
  }

  .how-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
  }
  .how-item {
    width: 400px;
  }

  .uniqueness-text-bold {
    padding: 40px 0 28px;
  }
  .uniqueness-list {
    display: flex;
    flex-direction: row;
    width: 1116px;
    margin: auto;
    gap: 60px;
    list-style-type: disc;
    padding-left: 20px;
    font-family: Comme;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(99, 2, 89, 1);
  }
  .uniqueness-item {
    width: 332px;
  }
}

.reviews {
  width: 375px;
  background: rgba(65, 216, 219, 1);
  margin: auto;
  padding: 60px 0;
}

.reviews-list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 335px;

  border-radius: 20px;
  border-width: 4px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 1);
  border: 4px solid rgba(255, 255, 255, 1);
}
.reviews-item-top {
  display: flex;
  gap: 24px;
  align-items: center;
}
.reviews-text-bold {
  font-family: Comme;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
}
.reviews-text {
  font-family: Comme;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(60, 61, 66, 1);
  padding-top: 12px;
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 696px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/reviews/Reviews.png");
    margin: auto;
    padding: 60px 0;
  }

  .reviews-list {
    width: auto;
    padding-top: 60px;
    padding-bottom: 44px;
    margin: auto;
  }
  .reviews-item {
    margin: 0 16px;
    width: 364px;
    border-radius: 20px;
    border-width: 4px;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 28px;
    padding-left: 20px;
  }
}

.faq {
  padding: 60px 20px;
  margin: auto;
  width: 375px;
  background: linear-gradient(180deg, #ffa2b4 0%, #41d8db 100%);
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.faq-item {
  border-radius: 20px;
  padding-top: 20px;
  padding-right: 28px;
  padding-bottom: 20px;
  padding-left: 28px;
  background: rgba(255, 255, 255, 1);
}

.faq-question {
  font-family: Comme;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(103, 0, 109, 1);
}

.faq-answer {
  padding-top: 12px;
  font-family: Comme;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(60, 61, 66, 1);
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 88px;
    width: 1440px;
    height: 932px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/FAQ.png");
  }
  .faq-container {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
  }
  .faq-item {
    width: 608px;
    height: 136px;
  }
  .faq-question {
    font-family: Comme;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .faq-answer {
    font-family: Comme;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 60px 0px;
  background: linear-gradient(0deg, #ffa2b4 0%, #41d8db 100%);
}

.gallery__list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}
.gallery__item {
  width: 330px;
  height: 588px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.characters-list {
  display: flex;
  flex-direction: column;
  padding: 40px 34px 0;
  list-style-type: disc;
  gap: 28px;
}

.characters-item {
  font-family: Comme;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.gallery-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 88px 0px 0;
  }
  .gallery-image {
    display: flex;
    margin-top: -175px;
    position: relative;
    z-index: 10;
  }
  .gallery__list {
    width: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
  }
  .gallery__item {
    width: 404px;
    height: 718px;
    overflow: hidden;
    position: relative;
    margin: 0 4px;
  }

  .characters-list {
    display: flex;
    flex-direction: row;
    padding: 60px 80px 0;
    list-style-type: disc;
    gap: 28px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 60px 28px 66px;
  background: linear-gradient(180deg, #ffa2b5 0%, #e84e92 100%);
}

.features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.features-item {
  width: 319px;
  border-radius: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 77, 77, 1);
}
.features-img {
  margin: auto;
}
.features-text-bold {
  font-family: Comme;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(99, 2, 89, 1);
  padding: 8px 0 12px;
}
.features-text {
  font-family: Comme;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(135, 3, 143, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    margin: auto;
    padding: 88px;
  }

  .features-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .features-item {
    width: 256px;
    height: 222px;
  }

  .features-text-bold {
    font-family: Comme;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    padding: 12px 0 8px;
  }
  .features-text {
    font-family: Comme;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.footer {
  background: rgba(177, 0, 76, 1);

  color: #ffffff;
  padding: 40px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 4px;
}
.footer-text {
  font-family: Comme;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Comme;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 177px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .footer-text {
    font-family: Comme;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Comme;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  padding: 128px 20px 40px;
}
.policy-terms-title {
  font-family: Comme;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(61, 61, 61, 1);
  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Comme;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Comme;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Comme;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Comme;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Comme;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Comme;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  border-radius: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(217, 219, 233, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Comme;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(111, 108, 144, 1);
}
.cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  font-family: Comme;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(23, 15, 73, 1);
  border: 1px solid rgba(255, 176, 226, 1);
  background: rgba(255, 255, 255, 1);
  width: 196px;
  height: 60px;
  text-align: center;
  border-radius: 56px;

  padding-top: 18px;
  padding-bottom: 18px;
}
#accept-cookies {
  background: rgba(252, 14, 202, 1);
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
  color: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Comme;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    width: 648px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;

    padding: 40px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
